.Home{
    background-image: url("https://wallpaperaccess.com/full/518545.jpg");
    background-size: cover;
    height: auto;
    min-height: 110vh;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;

}

.Cards{
    flex-direction: row;
    position: relative;
}

.Logo{
    position: relative;
}

.Cargando{
    margin-top: 5%;
    color: aliceblue;
}

.Inicio{
    background-color: rgba(0, 0, 0, 0.418);
    color: white;
    font-weight: bold;
    font-family: cursive;
}
